*{
    box-sizing: border-box;
    text-align: center;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    overflow: hidden;
    user-select: none;
}
.dot1, .dot2{
    background: black;
    width: 2vw;
    height: 2vw;
    position: absolute;
}
.dot1{
    transition: 0.1s;
}
.info {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: row;
    user-select: text;
}
.start {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    transition: 1s;
}